@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content button.discover {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid indianred;
    background-color: indianred;
    color: white;
    cursor: pointer;
}

.content input.date {
    height: 35px;
    width: auto;
    border: 1px solid indianred;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.content select {
    border: 1px solid indianred;
    color: indianred;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    margin-right: 20px;
    height: 35px;
}

li.tab {
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid indianred;
    margin: 10px;
    border-radius: 50%;
}

li.tab.selected {
    background-color: indianred;
}

.logo img {
    width: 200px;
    box-shadow: 0px 0px 10px 0px black;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: 50px calc(100vh - 100px) 50px;
    height: 100vh;
    background: #333;
}

nav button {
    display: none;
    width: 40px;
    background-color: #333;
    color: white;
    border: none;
}

button#menu:hover {
    color: indianred;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
    height: 50px;
    padding: 0 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100px;
}

nav li:hover {
    background-color: #252525;
}

nav li.active {
    box-shadow: inset 0px -2px 0px 0px indianred;
}

li.nav-link.active a {
    color: indianred;
    font-weight: bold;
}

nav a {color: white;text-decoration: none;display: flex;align-items: baseline;}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0px 0px 5px 0px black;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    grid-area: header;
    z-index: 1;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    grid-area: main;
    color: white;
}

main h1 {
    color: indianred;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3333330f;
    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

section {
    height: 100%;
    scroll-snap-align: start;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
    padding: 100px;
    background-color: #0000000d;
}


.logo {
    margin: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    fill: blur(0);
    transform: translateX(0);
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 500ms;
}
.logo:nth-child(4) {
    transition-delay: 800ms;
}

.tabs{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text {
    width: 75%;
    position: absolute;
    color: #262626;
    top: 0;
    font-weight: 700;
    font-size: 12em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(-28deg) skew(26deg);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
}


.hidden {
    display: block;
}

@media (max-width: 768px) {
    #text {
        font-size: 50px;
    }
    .card {
        padding: 50px;
    }

    .content {
        flex-direction: column;
    }
    .content select {
        margin: 10px 0 !important;
    }

    .content input {
        margin: 10px 0 !important;
    }

    .content button {
        margin: 10px 0 !important;
    }

    
    .logos {
        flex-direction: column;
    }
    .logo img {
        width: 100px;
    }

    nav button {
        display: block;
    }

    nav div {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 40px;
        background-color: #333;
        box-shadow: -2px 2px 4px -2px black;
    }

    nav div ul {
        flex-direction: column;
    }

    .hidden {
        display: none;
    }
}

