@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

:root {
    --font: font-family:
    'Rowdies', cursive;

    /* theme-dark */
    --td-primary: #242424;
    --td-secondary: #d56363;
    --td-shadow: 0px -3px 9px 1px #0000004d;
    --td-hover-shadow: 0px 0px 15px 0px #d56363;
    --td-text: white;
    --td-transparent:
    rgb(34 34 34 / 78%);

    /* theme-light */
    --tl-primary: #fff;
    --tl-secondary: #ff3535;
    --tl-shadow: 0px -3px 9px 1px #00000059;
    --tl-hover-shadow: 0px 0px 15px 0px #ff3535;
    --tl-text: black;
    --tl-transparent:
    rgb(255 255 255 / 57%);
}

.theme-dark {
    background-color: var(--td-primary);
    color: var(--td-text);
}

.theme-light {
    background-color: var(--tl-primary);
    color: var(--tl-text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}


.price-card table tr {
    border: 1px solid red;
}

.price-card table td {padding: 5px;}

.price-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}

.theme-dark .price-card {
    background-color: var(--td-transparent);
    box-shadow: var(--td-shadow);
}

.theme-light .price-card {
    background-color: var(--tl-transparent);
    box-shadow: var(--tl-shadow);
}

.theme-dark .price-card:hover {
    box-shadow: var(--td-hover-shadow);
}

.theme-light .price-card:hover {
    box-shadow: var(--tl-hover-shadow);
}


.content input.date {
    height: 35px;
    width: auto;
    border: 1px solid indianred;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.theme-dark h1 {
    color: var(--td-secondary);
}

.theme-light h1 {
    color: var(--tl-secondary);
}

h1 {
    padding: 20px;
}

.theme-dark h2 {
    border-bottom: 1px solid var(--td-secondary);
    color: var(--td-secondary);
}

.theme-light h2 {
    border-bottom: 1px solid var(--tl-secondary);
    color: var(--tl-secondary);
}

h2 {
    padding: 10px;
}

.lang {
    margin-right: 10px;
}


.content select {
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    margin-right: 20px;
    height: 35px;
}

li.tab {
    width: 10px;
    height: 10px;
    display: block;
    margin: 10px;
    border-radius: 50%;
}

.tools {
    display: grid;
    grid-template-areas: 'skills browser'
                         'skills browser'
                         'skills browser'
                         'code browser'
                         'code console';
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
}

#second .card {
    padding: 10px !important;
}

.cont {
    width: 100%;
    height: 100%;
    background-color: #00000033;
    box-shadow: 0px 0px 10px 0px black;
}

.tools div {
    padding: 10px;
}

.skills {
    grid-area: skills;
}

.code {
    grid-area: code;
}

.browser {
    grid-area: browser;
}

.console {
    grid-area: console;
}

.theme-dark li.tab.selected {
    background-color: var(--td-secondary);
}

.theme-dark li.tab {
    border: 1px solid var(--td-secondary);
}

.theme-light li.tab.selected {
    background-color: var(--tl-secondary);
}

.theme-light li.tab {
    border: 1px solid var(--tl-secondary);
}


.logo img {
    width: 200px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: 50px calc(100vh - 100px) 50px;
    height: 100vh;
}

nav button {
    display: none;
    width: 40px;
    border: none;
}

.theme-dark button#menu {
    background-color: transparent;
    color: var(--td-text);
    margin-right: 10px;
}

.theme-light button#menu {
    background-color: transparent;
    color: var(--tl-text);
    margin-right: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
    height: 50px;
    padding: 0 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100px;
    text-align: center;
    justify-content: center;
}

nav a {text-decoration: none;display: flex;align-items: baseline;}

.theme-dark li.active {
    border-bottom: 1px solid var(--td-secondary);
}

.theme-dark a {
    color: var(--td-text);
}

.theme-dark a:hover {
    color: var(--td-secondary);
}

.theme-light li.active {
    border-bottom: 1px solid var(--tl-secondary);
}

.theme-light a {
    color: var(--tl-text);
}

.theme-light a:hover {
    color: var(--tl-secondary);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    grid-area: header;
    z-index: 1;
}

.theme-dark header, .theme-dark footer {
    box-shadow: var(--td-shadow);
}

.theme-light header, .theme-light footer {
    box-shadow: var(--tl-shadow);
}

main::-webkit-scrollbar {
    display: none;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    grid-area: main;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 100%;
    scroll-snap-align: start;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
    padding: 100px;
}

.theme-dark .card {
    background-color: var(--td-transparent);
}

.theme-light .card {
    background-color: var(--tl-transparent);
}


.logo {
    margin: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    fill: blur(0);
    transform: translateX(0);
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 500ms;
}
.logo:nth-child(4) {
    transition-delay: 800ms;
}

.tabs{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    justify-content: center;
}

#text {
    width: 75%;
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 12em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(-28deg) skew(26deg);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
}

.theme-dark div#text {
    color: var(--td-primary);
}

.theme-light div#text {
    color: var(--tl-primary);
}

theme-dark #text {
    color: var(--td-primary) !important;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.theme-dark .btn {
    background-color: var(--td-secondary);
    color: var(--td-text);
}

.theme-dark .btn:hover {box-shadow: var(--td-hover-shadow);}

.theme-light .btn {
    background-color: var(--tl-secondary);
    color: var(--tl-text);
}

.theme-light .btn:hover {box-shadow: var(--tl-hover-shadow);}


.hidden {
    display: block;
}

.fa-check {
    color: green;
}

.fa-xmark {
    color: indianred;
}

@media (max-width: 768px) {
    #text {
        font-size: 50px;
    }
    .card {
        padding: 50px;
    }

    .content {
        flex-direction: column;
    }
    .content select {
        margin: 10px 0 !important;
    }

    .content input {
        margin: 10px 0 !important;
    }

    .content button {
        margin: 10px 0 !important;
    }

    
    .logos {
        flex-direction: column;
    }
    .logo img {
        width: 100px;
    }

    nav button {
        display: block;
    }

    nav div {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 40px;
    }

    nav div ul {
        flex-direction: column;
    }

    .hidden {
        display: none;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .theme-dark .slider {
    background-color: var(--tl-primary);
  }

  .theme-dark b {
    border-bottom: 1px solid var(--td-secondary);
  }

b {
    padding: 2px;
    letter-spacing: 2px;
    line-height: 27px;
}

p {
    line-height: 27px;
}

  .theme-light b {
    border-bottom: 1px solid var(--tl-secondary);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .theme-dark .slider:before {
    background-color: var(--td-secondary);
  }
  
  .theme-light .slider:before {
    background-color: var(--tl-secondary);
  }
  

  .theme-dark input:checked + .slider {
    background-color: var(--tl-primary);
  }

  .theme-light input:checked + .slider {
    background-color: var(--td-primary);
  }


  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 12px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

