@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li.tab {
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid indianred;
    margin: 10px;
    border-radius: 50%;
}

li.tab.selected {
    background-color: indianred;
}

.logo img {
    width: 200px;
    box-shadow: 0px 0px 10px 0px black;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: 50px calc(100vh - 100px) 50px;
    height: 100vh;
    background: #333;
}

nav button {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav li:hover {
    background-color: #252525;
}

nav li.active {
    box-shadow: inset 0px 0px 10px 0px #222;
}

li.nav-link.active a {
    color: indianred;
    font-weight: bold;
}

nav a {color: white;text-decoration: none;display: flex;align-items: center;}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0px 0px 5px 0px black;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    grid-area: header;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    grid-area: main;
    color: white;
}

main h1 {
    color: indianred;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3333330f;
    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

section {
    height: 100%;
    scroll-snap-align: start;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
    padding: 10px;
}


.logo {
    margin: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    fill: blur(0);
    transform: translateX(0);
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 500ms;
}
.logo:nth-child(4) {
    transition-delay: 800ms;
}

.tabs{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text {
    width: 75%;
    position: relative;
    color: #262626;
    font-weight: 700;
    font-size: 12em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(-28deg) skew(25deg);
}

#text::before {
    content: attr(data-text);
    position: absolute;
    top: 30px;
    left: -30px;
    color: #242424;
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;
}

@media (max-width: 768px) {
    #text {
        font-size: 50px;
    }
    .card {
        padding: 15px;
    }
    .logos {
        flex-direction: column;
    }
    .logo img {
        width: 100px;
    }
}

